.header {
  position: relative;
}

.header .background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee url('../../header-bk.png') center;
  background-size: cover;
  border-bottom: 1px solid #ccc;
  filter: brightness(.7);
  z-index: -1;
}

.content {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 41px 16px;
  overflow: auto;
}

.site-title {
  font-weight: 300;
  font-size: 42px;
  float: left;
  color: #FFF;
}

.selected {
  border-bottom: 1px solid #fff;
}

@media (max-width: 767px){

}
